tag: {{ auditship_tag }}
outputs:
{% for output in auditship_outputs %}
  - "{{ output }}"
{% endfor %}
log_file: {{ auditship_log_file }}
log_level: {{ auditship_log_level }}

buffer_size: {{ auditship_buffer_size }}
retry_interval: {{ auditship_retry_interval }}
max_retry_attempts: {{ auditship_max_retry_attempts }}
