# Telegraf configuration for scraping auditship Prometheus metrics
# This configuration should be placed in /etc/telegraf/telegraf.d/

[[inputs.prometheus]]
  ## An array of urls to scrape metrics from.
  urls = ["http://{{ auditship_metrics_bind_address }}:{{ auditship_metrics_port }}{{ auditship_metrics_path }}"]

  ## Optional tags to add to metrics
  [inputs.prometheus.tags]
    service = "auditship"
